body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background-color: white;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 45px;
    padding: 25px 0;
}
nav a{
    color: #363958;
    text-decoration: none;
}
section{
    height: 550px;
    margin-bottom: 50px;
    /* border: 1px solid blue; */
}
h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}
h2{
    font-size: 40px;
    font-weight: 800;
}

p{
    padding-bottom: 20px;
    padding-left: 0;
}
footer{
    margin-top: 85px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* .top-section{
    height: 600px;
}
.about-section{
    height: 600px;
} */
.half-width{
    float: left;
    width: 50%;
}
.half-width img{
    width: 90%;
}
.writings{
    padding-top: 70px;
}
.blue-highlight{
    color: #363958;
}
.magenta-highlight{
    color: DarkMagenta;
}
.link-button{
    text-decoration: none;
    background-color: DarkMagenta;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(45deg,DarkMagenta,rgb(164, 89, 201));
}
.show-off{
    background-color: rgb(224, 224, 224);
    padding: 20px 0;
    height: 700px;
    text-align: center;
}
.show-off h2{
    margin-top: 45px;
}
.one-third-width{
    width: 370px;
    float: left;
    background-color: white;
    margin-top: 35px;
    margin-left: 38px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 374px;
}

.one-third-width img{
    width: 343.54px;
    height: 213.23;
    padding-top: 10px;
}
.bottom-section{
    height: 600px;
    text-align: center;
}
.chat-area{
    height: 225px;
    width: 906px;
    margin: 100px auto;
    margin-bottom: 0;
    border-radius: 30px;
    background-image: url("images/workInquiry.png");
    background-repeat: no-repeat;
    background-size: 906px 225px;
}
.chat-area h1{
    padding-top: 79px;
    padding-left: 75px;
    font-size: 45px;
}
.chat-area .half-width{
    width: 45%;
}
.chat-area #button-container{
    text-align: right;
    padding: 98px 20px;
}
.chat-area .link-button{
    height: 60px;
    width: 134px;
}
.gray-highlight{
    color: gray;
}
.bottom-section h2{
    font-size: 36px;
    margin: 10px;
}
.bottom-section h3{
    font-size: 24px;
    margin: 10px;
}
.image-container img{
    height: 40px;
    width: 40px;
    margin: 10px;
}

